<div class="footer">
    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col" style="float:right">
                <p style="text-align:right;margin-top:10px">Established in 1982. <br> Made lively by Nexties throughout the years.
                </p>
            </div>
            <div class="col">
                <p>
                    {% for link in site.links %}
                    <a href="{{ link[1] }}">
                        <img src="static/assets/{{ link[0] }}.png" class="social-icon" style="margin: 0; width: 20px;">
                        </img>
                    </a>
                    {% endfor %}
                </p>
                <p>Comments? Problems? Bored? Email <a href="mailto:next-web@mit.edu" style="color:white">next-web (at) mit (dot) edu</a>!</p>

            </div>
        </div>
    </div>
</div>
<script>
    anchors.options = {
        visible: 'hover',
        icon: '',
    };
    anchors.add('h2');

</script>
