<head>
  <!--Revamped Next House Site
      Last updated 11 Aug 2017 by cmnord
      Purpose: quick splash for freshmen, missing remnants from previous years, not dynamic
    -->
  {% if page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="static/js/anchor.min.js"></script>
  <script src="static/js/sidebar.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arvo|Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="static/css/stylesheet.css">
  <link rel="stylesheet" href="static/css/sidebar.css">
</head>
