<nav class="navbar navbar-toggleable navbar-inverse bg-faded">
  <ul class="nav navbar-nav">
    <li><a class="active" href="index.html">Home</a></li>
    <li class="dropdown" id="culture">
      <a href="culture.html">Culture</a>
      <ul id="cultureDrop" class="dropdown-menu navbar-inverse" style="border: none">
        <li><a href="culture.html#wings">Wings</a></li>
        <li><a href="culture.html#social">Social</a></li>
        <li><a href="culture.html#studentgroups">Student Groups</a></li>
      </ul>
    </li>
    <li class="dropdown" id="housing">
      <a href="housing.html">Housing</a>
      <ul id="housingDrop" class="dropdown-menu navbar-inverse" style="border:none">
        <li><a href="housing.html#rooms">Rooms @ Next</a></li>
        <li><a href="housing.html#wingspaces">Wing Spaces @ Next</a></li>
        <li><a href="housing.html#housinglotto">Housing Lottery</a></li>
      </ul>
    </li>
    <li><a href="facilities.html">Facilities</a></li>
    <li><a href="resources.html">Student Resources</a></li>
  </ul>
</nav>
