<nav class="navbar" id="main-nav">
  <div class="container-fluid">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="navbar-header"></div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="culture">Culture <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="culture">Culture @ Next</a></li>
            <li><a href="culture#wings">Wings</a></li>
            <li><a href="culture#social">Social</a></li>
            <li><a href="culture#student-groups">Student Groups</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="housing">Housing <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="housing">Housing @ Next</a></li>
            <li><a href="housing#rooms--next">Rooms @ Next</a></li>
            <li><a href="housing#wing-spaces--next">Wing Spaces @ Next</a></li>
            <li><a href="housing#housing-lottery">Housing Lottery</a></li>
          </ul>
        </li>
        <li><a href="facilities">Facilities</a></li>
        <li><a href="resources">Student Resources</a></li>
      </ul>
    </div>
  </div>
</nav>
