<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div></div>
    <div></div>
    <div></div>
  </button>

  <div class="collapse navbar-collapse" id="myNav">
  <ul class="nav navbar-nav">
    <li><a class="active" href="/">Home</a></li>
    <li class="dropdown" id="culture">
      <a href="culture">Culture</a>
      <ul id="cultureDrop" class="dropdown-menu navbar-inverse" style="border: none">
        <li><a href="culture#wings">Wings</a></li>
        <li><a href="culture#social">Social</a></li>
        <li><a href="culture#student-groups">Student Groups</a></li>
      </ul>
    </li>
    <li class="dropdown" id="housing">
      <a href="housing">Housing</a>
      <ul id="housingDrop" class="dropdown-menu navbar-inverse" style="border:none">
        <li><a href="housing#rooms--next">Rooms @ Next</a></li>
        <li><a href="housing#wing-spaces--next">Wing Spaces @ Next</a></li>
        <li><a href="housing#housing-lottery">Housing Lottery</a></li>
      </ul>
    </li>
    <li><a href="facilities">Facilities</a></li>
    <li><a href="resources">Student Resources</a></li>
  </ul>
  </div>
</nav>
