<div class="col jumbo-panels">
  <div class="panel panel-default panel-md" style="background-color: #16a085">
    <div class="panel-heading" style="background-color: #1abc9c">
      <h3>378</h3>
    </div>
    <div class="panel-body">
      <p>Residents</p>
    </div>
  </div>
  <div class="panel panel-default panel-md">
    <div class="panel-heading" style="background-color: #e67e22">
      <h3>8</h3>
    </div>
    <div class="panel-body" style="background-color: #d35400">
      <p>Wings</p>
    </div>
  </div>
  <div class="panel panel-default panel-lg">
    <div class="panel-heading" style="background-color: #9b59b6">
      <h3>&gt;12</h3>
    </div>
    <div class="panel-body" style="background-color: #8e44ad">
      <p>Student Groups</p>
    </div>
  </div>
</div>
