<div id="wrapper">

     <!-- Sidebar -->
     <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
         <ul class="nav sidebar-nav">
             <li class="sidebar-brand">
                    Student Tools
             </li>
             <li>
                 <a href="#">NextRes</a>
             </li>
             <li>
                 <a href="#">Calendar</a>
             </li>
             <li>
                 <a href="#">Community Handbook</a>
             </li>
             <li>
                 <a href="#">Laundry</a>
             </li>
             <li>
                 <a href="#">Submit a Work Order</a>
             </li>
             <li>
                 <a href="#">Submitting an RFP</a>
             </li>
             <li>
                 <a href="#">Printing</a>
             </li>
             <li>
                 <a href="#">Dining Menu</a>
             </li>
         </ul>
     </nav>
 </div>
 <div class="overlay"></div>
