<div id="wrapper">

     <!-- Sidebar -->
     <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
         <ul class="nav sidebar-nav">
             <li class="sidebar-brand">
                    Student Tools
             </li>
             <li>
                 <a href="http://nextres.mit.edu/">NextRes</a>
             </li>
             <li>
                 <a href="#">Calendar</a>
             </li>
             <li>
                 <a href="/static/NextHouseCommunityHandbookFall2017.pdf">Community Handbook</a>
             </li>
             <li>
                 <a href="http://www.laundryview.com/laundry_room.php?lr=1364812">Laundry</a>
             </li>
             <li>
                 <a href="/static/workorder.pdf">Submit a Work Order</a>
             </li>
             <li>
                 <a href="https://docs.google.com/document/d/1HF1ftAAU2IlQppoH_yfKj35y9t2Lz1H1njt76GW5ndE/edit">Submitting an RFP</a>
             </li>
             <li>
                 <a href="http://next.mit.edu/print/printing.php">Printing</a>
             </li>
             <li>
                 <a href="http://mit.cafebonappetit.com/cafe/next/">Dining Menu</a>
             </li>
             <li>
                 <a href="http://next.mit.edu/budget">Budget</a>
             </li>
         </ul>
     </nav>
 </div>
 <div class="overlay"></div>
