<h2>Student Groups</h2>
{% for group in site.data.studentgroups %}
  <div class="panel panel-default panel-sg">
    <div class="panel-heading" style="
      background: url('static/assets/bgds/{{ group.bg }}') no-repeat center center;
      background-size: cover;
    ">
      <div class="sg-logo">
        <img src="/static/assets/logos/{{ group.logo }}"/>
      </div>
    </div>
    <div class="panel-body">
      <h2 class="panel-title">{{ group.name }}</h2>
      <ul class="list-unstyled">
        {% if group.contact %}
          <li><a href="mailto:{{ group.contact }}">{{ group.contact }}</a></li>
        {% endif %}
        {% if group.website %}
          <li><a href="{{ group.website }}">Website</a></li>
        {% endif %}
        {% if group.github %}
          <li><a href="{{ group.github }}">GitHub</a></li>
        {% endif %}
      </ul>
      <p>{{ group.description }}</p>
    </div>
  </div>
{% endfor %}
