body{
  position: relative;
}

h1, h2{
  font-family: 'Arvo', serif;
}

p{
  font-family: 'Lato', sans-serif;
}

a{
  font-family: 'Lato', sans-serif;
}

.banner{
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.banner-img{
  position: absolute;
  top: -12%;
  max-width: 100vw;
}

.banner-text{
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.banner-text span{
  color: white;
  font-size: 1.2em;
  background: rgba(52, 152, 219, .7);
  padding: 10px;
}

.navbar .navbar-inner{
  padding:0
}

.navbar {
  border: none;
  border-radius: 0;
  margin: 0;
  display: table;
  width: 100%;
  background-color: #2c3e50;
}

.navbar-nav .nav ul{
  width: 100%;
}

.navbar .nav li {
  width: calc(100vw/5);
  display: table-cell;
  float: none;
}

.navbar .nav li {
  font-weight: bold;
  color: #ecf0f1;
  text-align: center;
}

.navbar .nav li a{
  color: #ecf0f1;
}

.navbar .nav li a:active{
  background-color: #34495e;
}

.navbar .nav li a:hover{
  background-color: #2980b9;
}

.navbar .nav li a:focus{
  background-color: #3498db;
}

.show{
  display: block!important;
  padding: 0;
}

.navbar .nav .dropdown li{
  width: calc(100vw/5);
  display: block;
  padding: 10px;
  background-color: #34495e;
}

.navbar .nav .dropdown li:hover, .navbar .nav .dropdown li a:hover{
  background-color: #2980b9;
}

.navbar .nav .dropdown li:focus, .navbar .nav .dropdown li a:focus{
  background-color:  #3498db;
}

.footer{
  background-color: #34495e;
  color: #bdc3c7;
}

.social-icon{
  width: 15px;
  margin: 5px;
  opacity: 0.7;
}

.social-icon:hover{
  opacity:1;
}
.jumbotron{
  margin-bottom: 0;
}

.jumbotron-inverse{
  background-color: #bdc3c7;
}

.jumbo-descript{
  width:70%;
  margin-right: 17px;
  float:left;
}

.jumbo-panels{
  width: 28%;
  float: left;
  color: #ecf0f1;
}

.jumbo-panels .panel{
  display: inline-block;
  border: none;
}

.panel-md{
  width: 47%;
  margin: 2px;
}

.panel-lg{
  width: 97%;
  margin: 5px 2px 2px 2px;
}

.panel-heading{
  border: none;
}

.panel-heading h3{
  color: white;
}

.panel-md .panel-heading{
  height: 100px;
}

.panel-lg .panel-heading{
  height: 120px;
}

.panel-md .panel-heading h3{
  font-size: 3em;
}

.panel-lg .panel-heading h3{
  font-size: 4em;
}

.panel-body p{
  font-size: 1.2em;
  margin: 0;
  border-radius: 0px 4px 4px 0px;
}

.panel-heading, .panel-body{
  text-align: center;
}

.carousel-inner .item{
  position: absolute;
}


/**********************
*        WINGS        *
**********************/


.square{
  background-color:#ecf0f1;
  float:left;
  position: relative;
  width: 21%;
  padding-bottom: 21%;
  margin:1.66%;
  border-radius: 8px;
  color: #ecf0f1;
}

.square h3{
  position: absolute;
  bottom: 35%;
  width: 100%;
  text-align: center;
  font-size: 3em;
}

.square p{
  position: absolute;
  bottom: 35%;
  width: 100%;
  text-align: center;
}

#sq2W{background-color: #1abc9c;}
#sq2W:hover{background-color: #16a085;}
#sq2W:hover h3{display: none;}
#sq2W p{display: none;}
#sq2W:hover p{display: block;}

#sq2E{background-color: #f1c40f;}
#sq2E:hover{background-color: #f39c12;}
#sq2E:hover h3{display: none;}
#sq2E p{display: none;}
#sq2E:hover p{display: block;}

#sq3W{background-color: #e74c3c;}
#sq3W:hover{background-color: #c0392b;}
#sq3W:hover h3{display: none;}
#sq3W p{display: none;}
#sq3W:hover p{display: block;}

#sq3E{background-color: #2ecc71;}
#sq3E:hover{background-color: #27ae60;}
#sq3E:hover h3{display: none;}
#sq3E p{display: none;}
#sq3E:hover p{display: block;}

#sq4W{background-color: #e67e22;}
#sq4W:hover{background-color: #d35400;}
#sq4W:hover h3{display: none;}
#sq4W p{display: none;}
#sq4W:hover p{display: block;}

#sq4E{background-color: #9b59b6;}
#sq4E:hover{background-color: #8e44ad;}
#sq4E:hover h3{display: none;}
#sq4E p{display: none;}
#sq4E:hover p{display: block;}

#sq5W{background-color: #3498db;}
#sq5W:hover{background-color: #2980b9;}
#sq5W:hover h3{display: none;}
#sq5W p{display: none;}
#sq5W:hover p{display: block;}

#sq5E{background-color: #FF4081;}
#sq5E:hover{background-color: #E91E63;}
#sq5E:hover h3{display: none;}
#sq5E p{display: none;}
#sq5E:hover p{display: block;}
